<div class="container-fail">
    <div class="card">
        <div class="card-header">
            <h2>Website quản lí mạng xã hội </h2>
            <p>Gapo là một mạng xã hội dành cho giới trẻ Việt Nam do Công ty cổ phần công nghệ Gapo (Gapo Technology) ra mắt vào ngày
            23/07/2019. Gapo tạo được ấn tượng lớn cho người dùng và thu hút 2 triệu người dùng trong chưa đầy 2 tháng ra mắt</p>
        </div>
    </div>
</div>