<div class="container-fail">
    <div class="card  ">
        <div class="card-header text-white bg-info">
            <h2>Ứng dụng mạng xã hội đa nền tảng:</h2>
        </div>
        <div class="card-body">
            <h5>Do nhóm sinh viên của trường Công Nghệ Thông Tin & Truyền Thông Việt Hàn thực hiện, 
                trang web đang được chạy trên host miễn phí là Heroku, Thành viên thực hiện dự án là : </h5>
            <ul>
                <li>
                     <p>TV 1: Nguyễn Văn Sang  ,lớp: 18IT2 ,vai trò: xử lí backend + api </p>
                </li>
                <li>
                    <p>TV 2: Nguyễn Văn Liệu  ,lớp: 18IT1 ,vai trò: xử lí frontend</p>
                </li>
            </ul>
           
            
        </div>
    </div>
</div>