<ul class="sidebar navbar-nav" style="height: 100%;">
    <li class="nav-item active">
        <a class="nav-link" href="/admin/user">
            <i class="fas fa-user-circle"></i>
            <span>Acount</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Posts</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Manager Posts:</h6>
            <a class="dropdown-item" href="/admin/all-post">List Posts</a>
            <a class="dropdown-item" href="/admin/add-product">Add Product</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/get-category">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Comments</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-truck"></i>
            <span>Diagram</span>
        </a>
    </li>
</ul>